* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contenedor {
    width: 99.1vw;
    background-color: #EAF1F1;
    margin-left: auto;
    margin-right: auto;
    height: 113vh;
}
#contenedor header {
    background-color: #00A3FF;
    float: left;
    width: 99.1vw;
    height: 13vh;
}
#banner1   {
    width: 99.1vw;
    height: 10vh;
    background-color: #2C2C2C;
    float: left;
    background-repeat: no-repeat;
    background-image: url(../img/LogoLogicalngtive3.png);
    background-position: center center;
    background-size: contain;
    padding-top: 3px;
    padding-bottom: 3px;
}
#contenedor header nav {
    width: 99.1vw;
    height: 3vh;
    background-color: #FF005F;
    float: left;
}
header nav ul {
    list-style-type: none;
}
nav ul li {
    width: 33.0333vw;
    background-color: #6F9198;
    float: left;
    text-align: center;
    height: 3vh;
    line-height: 30px;
}
#vin1 {
}
#vin2 {

}
#vin3 {

}

ul li a {
    color: #24373D;
    text-decoration: none;
    display: block;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: normal;
}
a:hover {
    color: #FFFFFF;
    text-decoration: none;
    background-color: #63838A;
    height: 3vh;
}




#sectionprin  {
    width: 96vw;
    height: 90vh;
    background-color: #FFF500;
    float: left;
    margin-left: 27px;
}
#secconjunto1   {
    width: 48vw;
    height: 90vh;
    float: left;
    background-color: #515151;
}

#article1 {
    width: 48vw;
    height: 45vh;
    float: left;
    background-position: center center;
    background-size: contain;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    background-image: url(url);
}
#videofondart1 video {
    width: 48vw;
    float: left;
    padding-left: 0px;
    z-index: 1;
}

#titleprin1 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 55pt;
    font-weight: bolder;
    line-height: 55px;
    color: rgba(248,255,0,1.00);
    text-align: center;
    z-index: 10;
    position: absolute;
    width: 16ch;
    margin-top: 7vh;
    margin-left: 14vh;
}


#article2 {
    width: 48vw;
    height: 45vh;
    background-color: #EAEFF0;
    float: left;
}

#article2 #im1 {
    padding-left: 69px;
    padding-top: 54px;


}


#secconjunto2   {
    width: 48vw;
    height: 90vh;
    float: left;
    background-color: #2A2A2A;
}

#article3 {
    width: 24vw;
    height: 45vh;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 11pt;
    background-color: rgba(213,223,225,1.00);
    float: left;
}


#article3 img {
    float: left;
}









#article4 {
    width: 24vw;
    height: 45vh;
    background-color: #EAF1F1;
    float: left;
    color: undefined;
}


#textart4 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 25pt;
    margin-top: 95px;
    width: 10vw;
    height: 8vh;
    background-color: #C7DADA;
    margin-left: 150px;
    padding-top: 13px;
    color: #2C2C2C;
    text-decoration: none;
}
#textart4 #buy a {
    text-decoration: none;
    color: #2C2C2C;
}



#textart4:hover {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    font-size: 30pt;
    margin-top: 95px;
    width: 10vw;
    height: 10vh;
    background-color: rgba(248,255,0,1.00);
    margin-left: 150px;
    padding-top: 15px;
    color: rgba(248,255,0,1.00);
    text-decoration: none;
}
#text2art4 p {
    width: 10vw;
    height: 8vh;
    margin-left: 150px;
    color: #2C2C2C;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: bold;
    font-size: 25pt;
    text-align: center;
    padding-top: 13px;
    background-color: #C7DADA;
    margin-top: 15px;
}
#text2art4 #reviewbt a {
    color: #2C2C2C;
    text-decoration: none;
}
#text2art4 p:hover  {
    width: 10vw;
    height: 10vh;
    margin-left: 150px;
    color: rgba(248,255,0,1.00);
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    padding-top: 15px;
    background-color: rgba(248,255,0,1.00);
    margin-top: 15px;
}


#article5 {
    width: 48vw;
    height: 45vh;
    background-color: #EAF1F1;
}
#videofondart2 video {
    width: 48vw;
    float: left;
    padding-left: 0px;
    z-index: 1;
}
#titleprin2 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 55pt;
    font-weight: bolder;
    line-height: 55px;
    color: rgba(248,255,0,1.00);
    text-align: center;
    z-index: 10;
    position: absolute;
    width: 16ch;
    margin-top: 52vh;
    margin-left: 14vh;
}


#contenedor footer {
    width: 99.1vw;
    height: 10vh;
    background-color: #2C2C2C;
    float: left;
}
#logoftr {
    margin-top: 13px;
    margin-left: 25px;
    float: left;
}
#footext {
    float: left;
    margin-left: 25px;
    color: #EAF1F1;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 10.5pt;
    font-weight: bold;
    margin-top: 17px;
}
#logosoo {
    margin-left: 1145px;
    margin-top: 40px;
    float: left;
}




#contenedor2 {
    width: 99.1vw;
    height: 208vh;
    background-color: #EAF1F1;
    margin-left: auto;
    margin-right: auto;
}
#sectionreview {
    float: left;
    width: 96vw;
    height: 185vh;
    margin-left: 27px;
    background-color: #F2F6F6;
}
#section2-1 {
    width: 96vw;
    height: 85vh;
    float: left;
    background-color: #FFFFFF;
}
#videofondart2-1 video {
    width: 85vw;
    float: left;
    margin-left: 100px;
    background-color: #FFFFFF;
}

#section2-2 {
    width: 96vw;
    height: 33vh;
    float: left;
    background-color: #EAF1F1;
}

#imgsec2-2-1 {
    float: left;
    margin-left: 1px;
}
#imgsec2-2-2 {
    float: left;
}
#imgsec2-2-3 {
    float: left;
}
#imgsec2-2-4 {
    float: left;
}
#imgsec2-2-5 {
    float: left;
}
#imgsec2-2-6 {
    float: left;
}
#section2-3 {
    width: 96vw;
    height: 67vh;
    background-color: #F2F6F6;
    float: left;
}
#art2-1 {
    width: 32vw;
    height: 67vh;
    float: left;
}
#art2-1 #wb2 {
    margin-left: 40px;
    margin-top: 50px;
}
#art2-1 #title2art2 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 500;
    font-size: 13pt;
    margin-left: 40px;
}
#art2-2 {
    width: 32vw;
    height: 67vh;
    float: left;
    background-color: #E7EEEE;
}
#art2-2 #titleart2-2 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 25pt;
    text-align: center;
    color: #2C2C2C;
    background-color: #CEDDDD;
    width: 32vw;
    height: 7vh;
    padding-top: 10px;
}
#art2-2 #p2-1 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 12pt;
    margin-top: 15px;
}
#art2-2 #p2-2 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 6px;
}
#art2-2 #p2-3 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 7px;
}
#art2-2 #p2-4 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 10px;
    font-weight: 500;
}
#art2-2 #p2-5 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 7px;
}
#art2-2 #p2-6 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 7px;
}




#art2-3 {
    width: 32vw;
    height: 67vh;
    float: left;
    background-color: #E7EEEE;
}
#titleart2-3  {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 25pt;
    text-align: center;
    color: #2C2C2C;
    background-color: #CEDDDD;
    width: 32vw;
    height: 7vh;
    padding-top: 10px;
}
#art2-3 #p3-1 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 15px;
    font-weight: 500;
}
#art2-3 #p3-2 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 7px;
}
#art2-3 #p3-3 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 7px;
}
#art2-3 #p3-4 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 10px;
    font-weight: 500;
}
#art2-3 #p3-5 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 7px;
}
#art2-3 #p3-6 {
    margin-left: 29px;
    margin-right: 29px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 7px;
}
#art2-3 #p3-7 {
    margin-left: 29px;
    margin-right: 45px;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: 11pt;
    margin-top: 30px;
    font-weight: 500;
    text-align: right;
}







#contenedor2 footer {
    width: 99.1vw;
    height: 10vh;
    background-color: #2C2C2C;
    float: left;
}
#contenedor3 {
    width: 99.1vw;
    height: 143vh;
    background-color: #EAF1F1;
}
#sectionaboutus {
    width: 96vw;
    height: 123vh;
    margin-left: 27px;
    background-color: #FFFFFF;
    float: left;
}
#secabout1 {
    width: 96vw;
    height: 33vh;
    float: left;
    background-color: #DFDFDF;
}
#titleabout {
    color: #2C2C2C;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-top: 50px;
}
#textabout-1 {
    color: #2C2C2C;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-top: -5px;
}
#textabout-2 {
    color: #2C2C2C;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-top: -5px;
}
#textabout-3 {
    color: #2C2C2C;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-top: -5px;
}
#textabout-4 {
    color: #2C2C2C;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-top: -5px;
}
#textabout-5 {
    color: #2C2C2C;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-top: -5px;
}
#textabout-6 {
    color: #2C2C2C;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: x-large;
    margin-top: -5px;
}

#secabout2 {
    width: 96vw;
    height: 90vh;
    float: left;
    background-image: url(../img/aboutusfondimage.png);
    background-size: contain;
    background-position: center center;
    background-color: #999999;
}


#contenedor3 footer {
    width: 99.1vw;
    height: 10vh;
    background-color: #2C2C2C;
    float: left;
}
